:root {
    --bgc: #2c3e50;
    --bgc2: #34495e;
    --fc: #ecf0f1;
    --fc2: #bdc3c7;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of reset */

html {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.dashboard-container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}

.top {
    width: 100vw;
    height: 10vh;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid red;
}

.left {
    width: 10vw;
    height: 90vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-sizing: border-box;
    border: 2px solid red;
}

.right {
    width: 90vw;
    height: 90vh;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    border: 2px solid red;
}

.logo {
    flex: 0.1;
    box-sizing: border-box;
    border: 1px solid blue;
    margin: 5px;
    padding: 5px;
}

.search {
    flex: 0.8;
    box-sizing: border-box;
    border: 1px solid blue;
    margin: 5px;
    padding: 5px;
}

.user {
    flex: 0.1;
    box-sizing: border-box;
    border: 1px solid blue;
    margin: 5px;
    padding: 5px;
}

.nav {
    box-sizing: border-box;
    border: 1px solid blue;
    margin: 5px;
    padding: 5px;
}

.main-content {
    flex: 0.8;
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    border: 1px solid blue;
    margin: 5px;
    padding: 5px;
}

.side-content {
    flex: 0.2;
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    border: 1px solid blue;
    margin: 5px;
    padding: 5px;
}

.projects {
    flex: 1;
    box-sizing: border-box;
    border: 1px solid green;
    margin: 5px;
    padding: 5px;
}

.announcements {
    flex: 0.5;
    box-sizing: border-box;
    border: 1px solid green;
    margin: 5px;
    padding: 5px;
}

.trending {
    flex: 0.5;
    box-sizing: border-box;
    border: 1px solid green;
    margin: 5px;
    padding: 5px;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}