:root {
    --bgc: #2c3e50;
    --bgc2: #34495e;
    --fc: #ecf0f1;
    --fc2: #bdc3c7;
}

html {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

/* Container */

.dashboard-container {
    width: 100vw;
    height: 100vh;
    display: inline-grid;
    grid-template-rows: repeat(2, 1fr) 2fr repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr) 2fr repeat(2, 1fr);
    box-sizing: border-box;
}

/* Sections */

.left {
    background-color: #3498db;
    color: #ecf0f1;
    grid-row-start: 1;
    grid-row-end: 6;
    padding: 20px;

}

.top {
    /*box-shadow: 0 0.2em 0.2em rgb(0 0 0 / 30%);*/
    background-color: #ecf0f1;
    grid-column-start: 2;
    grid-column-end: 6;
    display: inline-grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
}

.right {
    background-color: #bdc3c7;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 6;
    display: inline-grid;
    grid-template-columns: 4fr 1fr;
    overflow: auto;
    padding: 20px;
}

/* Side section */

.nav {

}

.nav h1 {
    margin-bottom: 40px;
}

.nav ul {
    list-style: none;
    padding-left: 10px;
}

.nav li {
    margin-bottom: 10px;
}

.material-symbols-outlined {
    vertical-align: middle;
    font-size: inherit;
    margin-right: 20px;
}

/* Top Section */

.search {
    grid-column-start: 1;
    grid-column-end: 4;
}

#mySearch{
    width: 80%;
    border: none;
    background-color: #fff;
    border-radius: 20px;
}

.user {
    grid-column-start: 4;
}

.greeting {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    flex-flow: row wrap;
}

.greeting img {
    border-radius: 50%;
}

.buttons {
    grid-row-start: 2;
    grid-column-start: 4;

}

/* Main Section */

.main-content {
    padding: 0 10px 0;
}

.side-content {
    padding: 0 10px 0;
}

.projects {

}

.items {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 0 4px 0;
}

.items article {
    border-left: 8px solid orange;
}

article {
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.25);
    background-color: #ecf0f1;
    border-radius: 10px;
    padding: 5px;
}

article p {
    /*text-overflow: ellipsis;*/
}



/*
.top {
    width: 100vw;
    height: 10vh;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    border: 2px solid red;
}

.left {
    width: 15vw;
    height: 90vh;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    box-sizing: border-box;
    border: 2px solid red;
}

.right {
    width: 85vw;
    height: 90vh;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    border: 2px solid red;
}

.logo {
    flex: 0.1;
    box-sizing: border-box;
    border: 1px solid blue;
    margin: 5px;
    padding: 5px;
}

.search {
    flex: 0.8;
    box-sizing: border-box;
    border: 1px solid blue;
    margin: 5px;
    padding: 5px;
}

.user {
    flex: 0.1;
    box-sizing: border-box;
    border: 1px solid blue;
    margin: 5px;
    padding: 5px;
}

.nav {
    box-sizing: border-box;
    border: 1px solid blue;
    margin: 5px;
    padding: 5px;
}

.main-content {
    flex: 0.75;
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    border: 1px solid blue;
    margin: 5px;
    padding: 5px;
}

.side-content {
    flex: 0.25;
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    border: 1px solid blue;
    margin: 5px;
    padding: 5px;
}

.projects {
    flex: 1;
    box-sizing: border-box;
    border: 1px solid green;
    margin: 5px;
    padding: 5px;
}

.announcements {
    flex: 0.5;
    box-sizing: border-box;
    border: 1px solid green;
    margin: 5px;
    padding: 5px;
}

.trending {
    flex: 0.5;
    box-sizing: border-box;
    border: 1px solid green;
    margin: 5px;
    padding: 5px;
}
*/

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}